.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 0.1rem solid #ddd;
  transition: width 0.3s ease;
  min-height: 100%;
  position: relative;
}

/* Toggle button base */
.toggleBtn {
  position: absolute;
  top: 10px;
  color: #333;
  font-size: 1.6rem;
  z-index: 1100;
  transition: all 0.3s ease-in-out;
}

/* When collapsed (☰) */
.collapsed {
  left: 0;
}

/* When expanded (✕) */
.expanded {
  right: 0;
}

/* Icons and links */
.nav {
  margin-top: 4rem;
}

.navLink {
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: #007bff;
}

/* Sidebar states */
.sidebarCollapsed {
  width: 3.75rem;
}

.sidebarExpanded {
  width: 15rem;
}

/* Mobile adjustments */
@media (max-width: 576px) and (min-width: 320px) {
  .sidebarExpanded {
    width: 30rem;
  }
  .sidebarCollapsed {
    width: 15rem;
  }
}

@media (max-width: 320px) {
  .sidebarCollapsed {
    width: 0;
  }
  .sidebarExpanded {
    width: 180px;
  }
}

@media (max-width: 36rem) {
  .sidebarExpanded {
    width: 10rem;
  }
  .sidebarCollapsed {
    width: 3rem;
  }
}
